[package]
name = "wasm"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
wasm-bindgen = "0.2.34"
parquet2 = { version = "0.3.0", default-features = false }
serde_json = "1"
serde-wasm-bindgen = "0.3"
